body {
    margin: 0px;
    padding: 0px;

}

.container {
    max-width: 500px;
    margin: 0px auto;
}

.todoList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.todoList li {
    position: relative;
    padding: 10px;
    border: 1px solid black;
}

.todoList li .controls {
    position: absolute;
    right: 5px;
    top: 5px;
}

.todoList li .controls button {
    padding: 4px 7px;
    background-color: red;
    color: white;
}
